/* General styles */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    background-color: #222222;
    color: #88DDf2 
  }

  h2 {
    font-size: 2rem;
  }

  ul,ol,dl,p {
    font-size: 1.5rem;
  }

  li, p {
    line-height: 1.5;
  }

  /* Unordered list styles */

  ul {
    padding-left: 2rem;
    list-style-type: none;
  }

  ul li {
    padding-left: 2rem;
    background-image: url(star.svg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }

  /* Ordered list styles */

  ol {
    list-style-type: lower-roman;
  }

  /* Description list styles */

  dd, dt {
    line-height: 1.5;
  }

  dt {
    font-weight: bold;
  }

  div{
    padding: 1%;
    margin: 20px;
    width: 650px;
  }

#recipe{
    border: 1px solid #88DDf2;
    float: left
}

#ingredients{
    border: 1px solid #88DDf2;
    float: left
}

#shoppinglist{
    border: 1px solid #88DDf2;
    float: left
}